body {
    background-image: linear-gradient(to right, rgb(5, 133, 238),rgb(128, 120, 241), rgb(202, 200, 233) );
    font-family: "Roboto", sans-serif;
   
  }
  

  h1 {
    text-align: center;
    padding-top: 15px;
    text-shadow: 3px 3px rgb(131, 130, 131);
  }
  
 .form-center {
    display: flex;
     justify-content: center;
 }
  form {
    width: 350px;
    margin-left: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    box-shadow: 4px 4px 4px 4px rgb(87, 85, 85);
    border-radius: 20px;
  }
  

  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 300px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 10px;
    
  }
  input[type="submit"] {
    width: 317px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px rgb(53, 49, 49);
    
  }
  input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(58, 39, 230);
    
    }
    input[type="reset"]:hover {
        cursor: pointer;
        transform: scale(1.03);
        background-color: rgb(58, 39, 230);
        }
  
  input[type="reset"] {
    width: 317px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px rgb(53, 49, 49);
  }
  